$transition-duration: 0.5s;
$items: 4;
$transition-delay: 0.05s;

.title {
    transform: translateY(0);
    transition: transform 1s;
}

.nav {
    &.open {
        & ~ .container {
            background-color: #a6d8d8;
        }
        .title {
            transform: translateY(200px);
        }
    }
}

.hamburger {
    display: flex;
    justify-content: flex-end;

    .trigger {
        position: relative;
        padding: 15px 0 0 15px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: darkgray;
        background-color: rgba(0,0,0,0.2);
    }
}

.button-toggle {
    &:before {
        transform: translateY(-50%) rotate(45deg) scale(0);
    }
    &:after {
        transform: translateY(-50%) rotate(-45deg) scale(0);
    }
    &:before, &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 13px;
        width: 50%;
        height: 2px;
        background-color: #ffffff;
        border-radius: 5px;
        transition: 0.5s;
    }
}

.nav-item {

    // Setting delays for the nav items in close transition
    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            $delay: ($i - 1) * $transition-delay;
            transition-delay: $delay;
            &:before {
                transition-delay: $delay;
            }
        }
    }
}

// To hide the checkbox
#toggle {
    display: none;
}

// To make the input toggle-able
.toggle-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

// Styles for the 'open' state, if the checkbox is checked
#toggle:checked {
    // Any element you need to change the style if menu is open goes here, using the sibling selector (~) as follows

    // Styles for the open navigation menu, for example
    & ~ .menu {
        //height: 350px;
        //width: calc(100vw - 40px);
        //margin-left: calc(-100vw + 70px);
        //margin-top: 60px;

        // Restoring nav items from "lines" in the menu icon
        .nav-item {

            // Setting delays for the nav items in close transition
            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    $delay: ($items - $i) * $transition-delay;
                    transition-delay: $delay;
                    &:before {
                        transition-delay: $delay;
                    }
                }
            }

            color: #ffffff;
            letter-spacing: 0;
            height: 40px;
            line-height: 40px;
            margin-top: 0;
            opacity: 1;
            //left: calc(-80vw + 70px);
            //top: 60px;
            transform: scaleY(1) translateX(-65vw) translateY(60px);
            transition: $transition-duration, transform 1s, opacity 0.1s, left 1s, top 1s;
            pointer-events: auto;

            &:first-child {
                margin-top: 20px;
            }

            // Hiding the lines
            &:before {
                opacity: 0;
            }
        }
    }

    & ~ .toggle-container {
        .button-toggle {
            &:before {
                transform: translateY(-50%) rotate(45deg) scale(1);
            }
            &:after {
                transform: translateY(-50%) rotate(-45deg) scale(1);
            }
        }
    }
}

// Showing nav items as lines, making up the hamburger menu icon
.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 1.2em;
    letter-spacing: -8.4px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    transform: scaleY(0.2);
    top: 0;
    left: 0;
    transition: $transition-duration, opacity 1s, left 1s, top 1s;
    pointer-events: none;

    // Adjusting width for the first line
    &:nth-child(1) {
        letter-spacing: -9.8px;
    }

    // Adjusting width for the second line
    &:nth-child(2) {
        letter-spacing: -9.8px;
    }

    // Adjusting from the fourth element onwards
    &:nth-child(n + 4) {
        letter-spacing: -9.8px;
        margin-top: -7px;
        opacity: 0;
    }

    // Getting the lines for the hamburger menu icon
    &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        transform: translateY(-50%) translateX(0) scaleY(5);
        transition: $transition-duration;
    }
}

