.slides {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    overflow: hidden;
    h2 {
        margin-bottom: 0;
    }
}
.slideshow {
    width: 100%;
    min-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding-top: 20px;
    align-items: center;

    .slick-prev {
        left: -20px;
    }
    .slick-next {
        right: -20px;
    }

    img {
        max-width: 100%;
    }
    .bio {
        max-width: 100vw;
        margin: auto;
        padding: 0 20px;
    }
}

