%topLevelContainer {
    padding: 20px;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
    @extend %topLevelContainer;
}
.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    background: url(../img/asgard_bg.jpg) center center no-repeat;
    background-size: cover;

    > div:not(.title) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        width: 100px;
    }
}
.title {
    margin-top: 40px;
    h1 {
        color: #ffffff;
        font-size: 60px;
        span {
            display: block;
            margin-bottom: -10px;
            font-size: 110px;
            line-height: 12.2vw;
        }
    }
}
.content:not(.container) {
    margin-top: 1.5em;
}
.map iframe {
    max-width: 100%;
}
.ui-accordion-header {
    background-image: none;
}
